.container {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.hero__heading {
  margin-left: 120px;
  padding-bottom: 120px;
}

.hero__img {
  margin-right: 250px;
  scale: 1.4;
  /* background-color: transparent;
  border: 2px solid rgb(59, 135, 135); 
  border-radius: 200%; 
  background-size: 40px; */
}

.enlarge-image {
  transition: transform 0.5s; /* Animation de transition fluide */
}

.enlarge-image:hover {
  transform: scale(1.2); /* Agrandir l'image de 20% au survol */
}

h1 {
  color: whitesmoke;
  font-weight: 300;
}

h1 span {
  color: aqua;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

h3 {
  font-weight: 100;
  font-size: 40px;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 50;
}

.hero__btn button {
  background-color: rgba(0, 255, 255, 0.801);
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  box-shadow: #1f9ab5;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
}

.hero__btn button:hover {
  background-color: rgb(87, 163, 163);
}

.btn-hire {
  text-decoration: none;
  color: aliceblue;
}
