.title {
  color: #aff0ec;
  text-align: start;
  font-family: "Courier New", Courier, monospace;
}

.service-title {
  padding-top: 30px;
  padding-left: 15px;
  font-size: xx-large;
}

.project-title {
  padding-top: 30px;
  padding-left: 40px;
  font-size: xx-large;
}
